{% extends 'baseF.html.twig' %}
{% block title %}
	Créer nouveau commentaire
{% endblock %}
{% block stylesheets %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<meta name="keywords" content="HTML5 Template">
	<meta name="description" content="Responsive HTML5 Template">
	<meta
	name="author" content="author.com">
	<!-- icon -->
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
		
		<link
		rel="stylesheet" href="{{asset('front/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{asset('front/css/cssnewsujet2.css')}}">
		<link rel="stylesheet" href="{{asset('front/css/cssnewsujet.css')}}">
		<!-- Vendor -->
		<link rel="stylesheet" href="{{asset('front/vendor/bootstrap/css/v3/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{asset('front/vendor/bootstrap/css/v4/bootstrap-grid.css')}}">
		
	{{ parent() }}
{% endblock %}


{% block body %}
<div class="create" class="main-content">
	<div class="create__head">
		<div class="create__title"><img src="{{asset('front/images/comment.png')}}" alt="New comment">Créer nouveau commentaire</div>
		<span>Réglements du forum</span>
	</div>
	{{ include('commentaire/_form.html.twig') }}

</div>
    
{% endblock %}
