{% extends 'baseB.html.twig' %}
{% block body %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
	<div class="nk-content">
		<div class="container">
			<div class="nk-content-inner">
				<div class="nk-content-body">
					<div class="nk-block-head">
						<div class="nk-block-head-between flex-wrap gap g-2">
							
							<div class="nk-block-head-content"></div>
						</div>
					</div>
					<div class="nk-block">
					

<h1 id="h11">Statistiques des voitures et réservations</h1>
<h2>Total Profit: {{ totalProfit }} DT</h2>

<div class="container">
<div class="row">
    <div class="col-md-6"><h4 id="h11">Les marques des voitures les plus réservées</h4>   <canvas id="reservationsChart" width="100" height="70"></canvas></div>
    <div class="col-md-6"><h4 id="h11">Les modèles des voitures les plus réservées</h4>   <canvas id="modelesChart" width="100" height="70"></canvas></div>
</div>

<div class="row">
<div class="col-md-6"><h4 id="h11">Les marques des voitures les plus notées</h4>   <canvas id="chartVoituresPlusNotes" width="100" height="70"></canvas></div>
<div class="col-md-6"><h4 id="h11">Les modèles des voitures les plus notées</h4><canvas id="modelesChart_plsNotes" width="100" height="70"></canvas></div>
</div>
</div>

<div class="container2">
<div class="row">
<div class=""><h3 id="h11">Nombre de réservations par durée</h5><canvas id="chartReservations" ></canvas></div>
</div>
</div>
<style>
  h2 {
  background-color: #44ae60; /* Couleur de fond */
  color: #F2F2F2; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 10px; /* Bordure arrondie */
  position: relative; /* Définir la position comme relative pour permettre l'animation */
  animation-name: moveText; /* Nom de l'animation */
  animation-duration: 2s; /* Durée de l'animation */
  animation-timing-function: ease-in-out; /* Fonction de chronométrage de l'animation */
  animation-iteration-count: infinite; /* Nombre d'itérations de l'animation (infini pour une animation continue) */
}





   #container2 {
    
    height: 100px;
    width: 100px;}

    #container {
    
    height: 400px;
    width: 400px;}
 h1 {
  text-align: center;
}


    /* Ajoutez vos autres styles personnalisés ici */
</style>
    <script>
        // Récupérer les données passées depuis le contrôleur
        var marques = {{ marques|raw }};
        var modeles = {{ modeles|raw }};
        var reservations = {{ reservations|raw }}; 

        var marques_notes = {{ marques_notes|raw }};
        var modeles_notes = {{ modeles_notes|raw }};
        var notes_voit = {{ notes_voit|raw }};

        // Définir un tableau de couleurs pour les marques et modèles
        var colors = [
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 99, 132, 0.6)',
            'rgba(255, 159, 64, 0.6)'
        ];

        // Créer le graphique pour les marques
        

        // Créer le graphique pour les modèles
        new Chart(document.getElementById('modelesChart'), {
            type: 'pie',
            data: {
                labels: modeles,
                datasets: [{
                    data: reservations,
                    backgroundColor: colors.slice(0, modeles.length),
                    borderColor: colors.slice(0, modeles.length),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });

        // Créer le graphique pour les réservations
        new Chart(document.getElementById('reservationsChart'), {
    type: 'bar',
    data: {
        labels: marques,
        datasets: [{
            label: 'Les voitures les plus réservées',
            data: reservations,
            backgroundColor: colors.slice(0, modeles.length),
            borderColor:colors.slice(0, modeles.length),
            borderWidth: 1
        }],
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true,
                stepSize: 1
            }
        },
        legend: {
            display: false // Ajouter cette option pour masquer la légende
        }
    }
});

// Créer le graphique pour les réservations
new Chart(document.getElementById('chartVoituresPlusNotes'), {
    type: 'bar',
    data: {
        labels: marques_notes,
        datasets: [{
            label: '',
            data: notes_voit,
            backgroundColor: colors.slice(0, marques_notes.length), // Changer la couleur des barres en jaune
            borderColor: colors.slice(0, marques_notes.length), // Changer la couleur des bordures en jaune
            borderWidth: 1
        }],
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true, // Faire commencer l'axe des ordonnées à 0
                stepSize: 1
            }
        },
        legend: {
            display: false // Ajouter cette option pour masquer la légende
        }
    }
});


         new Chart(document.getElementById('modelesChart_plsNotes'), {
            type: 'doughnut',
            data: {
                labels: modeles_notes,
                datasets: [{
                    data: notes_voit,
                    backgroundColor: colors.slice(0, modeles.length),
                    borderColor: colors.slice(0, modeles.length),
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });

    </script>

						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
  
  
  

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Récupérer les données de réservations par durée depuis le contrôleur
    var reservationsCountByDuration = {{ reservationsCountByDuration|raw }};

    // Extraire les données nécessaires pour les graphiques
    var labels = Object.keys(reservationsCountByDuration);
    var nombres = [];
    var jours = [];

    for (var i = 0; i < labels.length; i++) {
        nombres.push(reservationsCountByDuration[labels[i]]['nombre']);
        jours.push(reservationsCountByDuration[labels[i]]['jours']);
    }

   // Tableau de couleurs
var colors = ['rgba(75, 192, 192, 0.2)', 'rgba(192, 75, 75, 0.2)', 'rgba(75, 75, 192, 0.2)', 'rgba(192, 192, 75, 0.2)'];

// Créer un graphique en barres
var ctx = document.getElementById('chartReservations').getContext('2d');
var chart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            data: nombres,
            backgroundColor: colors, // Utiliser le tableau de couleurs
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                max: Math.max(...nombres) + 1 // Utiliser le maximum des nombres + 1 comme valeur maximale pour l'axe y
            }
        },
        
        legend: {
            display: false // Ajouter cette option pour masquer la légende
        }
    }
});

</script>

{% endblock %}

