{% extends 'baseF.html.twig' %}

{% block body %}

	<div class="site__body">
		<div class="block-header block-header--has-breadcrumb block-header--has-title">
			<div class="container">
				<div class="block-header__body">
					<nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
						<ol class="breadcrumb__list">
							<li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
							<li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
								<a href="{{ path('app_voiture') }}" class="breadcrumb__item-link">Acceuil</a>
							</li>
							
							<li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
								<span class="breadcrumb__item-link">voitures adaptées</span>
							</li>
							<li class="breadcrumb__title-safe-area" role="presentation"></li>
						</ol>
					</nav>

				</div>
			</div>
		</div>
		<div class="block-split block-split--has-sidebar">
			<div class="container">
				<div class="block-split__row row no-gutters">
					<div class="block-split__item block-split__item-sidebar col-auto">
						<div class="sidebar sidebar--offcanvas--mobile">
							<div class="sidebar__backdrop"></div>
							<div class="sidebar__body">
								<div class="sidebar__header">
									<div class="sidebar__title">Filters</div>
									<button class="sidebar__close" type="button">
										<svg width="12" height="12">
											<path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
																																																																			c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
																																																																			C11.2,9.8,11.2,10.4,10.8,10.8z"/>
										</svg>
									</button>
								</div>
								<div class="sidebar__content">
									<div class="widget widget-filters widget-filters--offcanvas--mobile" data-collapse data-collapse-opened-class="filter--opened">
										<div class="widget__header widget-filters__header">
											<h4>Filtres</h4>
										</div>
										  
										<div class="widget-filters__list">
											
											
											<div class="widget-filters__item">
												<div class="filter filter--opened" data-collapse-item>
													<button type="button" class="filter__title" data-collapse-trigger>
														Prix de location
														<span class="filter__arrow">
															<svg width="12px" height="7px">
																<path d="M0.286,0.273 L0.286,0.273 C-0.070,0.629 -0.075,1.204 0.276,1.565 L5.516,6.993 L10.757,1.565 C11.108,1.204 11.103,0.629 10.747,0.273 L10.747,0.273 C10.385,-0.089 9.796,-0.086 9.437,0.279 L5.516,4.296 L1.596,0.279 C1.237,-0.086 0.648,-0.089 0.286,0.273 Z"/>
															</svg>
														</span>
													</button>
													<div class="filter__body" data-collapse-content>
														<div class="filter__container">


															<div class="filter-price">
																<div class="filter-price__slider">
																	<input type="range" min="60" max="200" step="5" value="60" class="filter-price__min-value">
																	<input type="range" min="60" max="200" step="5" value="200" class="filter-price__max-value">
																</div>
																<div class="filter-price__title-button">
																	<div class="filter-price__title">
																		<span class="filter-price__min-display" style="margin-right: 10px;">60</span>
																		<span class="filter-price__max-display">200</span>
																	</div>
																	<style>
																		.filter-price__title .filter-price__min-display {
																			
																			padding-right: 60px;
																		}
																		.filter-price__title span {
																			color: #44ae64;;
																		}
																	</style>
																	<button type="button" class="btn btn-xs btn-secondary filter-price__button">Filter</button>
																</div>
															</div>


															 <script>
$(document).ready(function() {
  $('#search').on('input', function() {
    // Récupération de la valeur de la recherche
    var searchValue = $(this).val();
    // Envoi de la requête AJAX
    $.ajax({
      url: '{{ path('app_voiture') }}',
      type: 'GET',
      data: { search: searchValue },
      success: function(response) {
        console.log("okkk search");
        // Animation du contenu de l'élément "dons-container"
        $('#voitures-container').fadeOut(500, function() {
          $(this).html(response).fadeIn(500);
        });
      },
      error: function(xhr, textStatus, errorThrown) {
        console.log(xhr.responseText);
      }
    });
  });
});
    </script>
															<script>
																// Récupération des éléments HTML
var $minRange = $('.filter-price__min-value');
var $maxRange = $('.filter-price__max-value');
var $filterBtn = $('.filter-price__button');
var $minDisplay = $('.filter-price__min-display');
var $maxDisplay = $('.filter-price__max-display');

// Mettre à jour les valeurs des éléments span correspondants avec les valeurs actuelles des curseurs
function updateDisplays() {
$minDisplay.text($minRange.val());
$maxDisplay.text($maxRange.val());
}

// Action lorsque la valeur d'un range change
$minRange.add($maxRange).on('input', function () {
updateDisplays();
});

$filterBtn.on('click', function () {
var minVal = $minRange.val();
var maxVal = $maxRange.val();
var selectedField = $('#selected-field').val();

$.ajax({
type: 'GET',
url: '{{ path('app_voiture') }}',
data: {
minVal: minVal,
maxVal: maxVal,
selectedField: selectedField
},
success: function (response) {
console.log(minVal);
console.log(minVal);
$('#voitures-container').empty()
$('#voitures-container').html(response);
},
error: function (xhr, textStatus, errorThrown) {
console.log(xhr.responseText);
}
});
});
															</script>


														</div>
													</div>
												</div>
											</div>
											
											<div class="widget-filters__item">
												<div class="filter filter--opened" data-collapse-item>
													<button type="button" class="filter__title" data-collapse-trigger>
														Marque
														<span class="filter__arrow">
															<svg width="12px" height="7px">
																<path d="M0.286,0.273 L0.286,0.273 C-0.070,0.629 -0.075,1.204 0.276,1.565 L5.516,6.993 L10.757,1.565 C11.108,1.204 11.103,0.629 10.747,0.273 L10.747,0.273 C10.385,-0.089 9.796,-0.086 9.437,0.279 L5.516,4.296 L1.596,0.279 C1.237,-0.086 0.648,-0.089 0.286,0.273 Z"/>
															</svg>
														</span>
													</button>
													<div class="filter__body" data-collapse-content>
														<div class="filter__container">
															<div class="filter-list">
																<div class="filter-list__list">
																
<form id="filter-form_marque" method="post" action="{{ path('app_voiture') }}">
{% for marque in marques %}
    <div>
    <label>
        <input type="checkbox" name="marques[]" value="{{marque}}"> {{marque}}
    </label>
	</div>
	 {% endfor %}
    <div class="filter-price__title-button">
																	<div class="filter-price__title">
																		
																	</div>
																	<style>
																		
																	</style>
																	<button  class="btn btn-xs btn-secondary filter-price__button" type="submit">Filtrer</button>
																</div>
    
</form>
<script>
$(document).ready(function() {
    $('#filter-form_marque').on('submit', function(e) {
        e.preventDefault();

        var formData = $(this).serialize();

        $.ajax({
            type: 'POST',
            url: '{{ path('app_voiture') }}',
            data: formData,
            dataType: 'html',
            success: function(response) {
				console.log("okay");
                $('#voitures-container').empty();
                $('#voitures-container').html(response);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
            }
        });
    });
});
</script>







	



																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="widget-filters__item">
												<div class="filter filter--opened" data-collapse-item>
													<button type="button" class="filter__title" data-collapse-trigger>
														Rating
														<span class="filter__arrow">
															<svg width="12px" height="7px">
																<path d="M0.286,0.273 L0.286,0.273 C-0.070,0.629 -0.075,1.204 0.276,1.565 L5.516,6.993 L10.757,1.565 C11.108,1.204 11.103,0.629 10.747,0.273 L10.747,0.273 C10.385,-0.089 9.796,-0.086 9.437,0.279 L5.516,4.296 L1.596,0.279 C1.237,-0.086 0.648,-0.089 0.286,0.273 Z"/>
															</svg>
														</span>
													</button>
													<div class="filter__body" data-collapse-content>
														<div class="filter__container">
															

															<form method="get" action="{{ path('app_voiture2') }}" id="filter-note">
    <div>
        <input type="checkbox" name="note[]" value="1" {% if '1' in app.request.query.get('note', []) %}checked{% endif %}>
        <label>
		<div class="rating__body">
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star"></div>
		<div class="rating__star"></div>
		<div class="rating__star"></div>
		<div class="rating__star"></div>
		</div>
		</label>
		

    </div>
    <div>
        <input type="checkbox" name="note[]" value="2" {% if '2' in app.request.query.get('note', []) %}checked{% endif %}>
        <label>
		<div class="rating__body">
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star"></div>
		<div class="rating__star"></div>
		<div class="rating__star"></div>
		</div>
		</label>
    </div>
    <div>
        <input type="checkbox" name="note[]" value="3" {% if '3' in app.request.query.get('note', []) %}checked{% endif %}>
        <label>
		<div class="rating__body">
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star"></div>
		<div class="rating__star"></div>
		
		</div>
		</label>
    </div>
    <div>
        <input type="checkbox" name="note[]" value="4" {% if '4' in app.request.query.get('note', []) %}checked{% endif %}>
        <label>
		<div class="rating__body">
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star"></div>
		
		
		</div>
		</label>
    </div>
    <div>
        <input type="checkbox" name="note[]" value="5" {% if '5' in app.request.query.get('note', []) %}checked{% endif %}>
        <label>
		<div class="rating__body">
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		<div class="rating__star rating__star--active"></div>
		
		
		</div>
		</label>

    </div>
    <button type="submit">Filtrer</button>
</form>

<script>
$(document).ready(function() {
    $('#filter-note').on('submit', function(e) {
        e.preventDefault();

        var formData = $(this).serialize();

        $.ajax({
            type: 'GET',
            url: '{{ path('app_voiture') }}',
            data: formData,
            dataType: 'html',
            success: function(response) {
                $('#voitures-container').empty();
                $('#voitures-container').html(response);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
            }
        });
    });
});
</script>



														</div>
													</div>
												</div>
											</div>
											
										</div>
										
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="block-split__item block-split__item-content col-auto">
						<div class="block">
							<div class="products-view">
								<div class="products-view__options view-options view-options--offcanvas--mobile">
									<div class="view-options__body">
										<button type="button" class="view-options__filters-button filters-button">
											<span class="filters-button__icon">
												<svg width="16" height="16">
													<path d="M7,14v-2h9v2H7z M14,7h2v2h-2V7z M12.5,6C12.8,6,13,6.2,13,6.5v3c0,0.3-0.2,0.5-0.5,0.5h-2
																																																																															C10.2,10,10,9.8,10,9.5v-3C10,6.2,10.2,6,10.5,6H12.5z M7,2h9v2H7V2z M5.5,5h-2C3.2,5,3,4.8,3,4.5v-3C3,1.2,3.2,1,3.5,1h2
																																																																															C5.8,1,6,1.2,6,1.5v3C6,4.8,5.8,5,5.5,5z M0,2h2v2H0V2z M9,9H0V7h9V9z M2,14H0v-2h2V14z M3.5,11h2C5.8,11,6,11.2,6,11.5v3
																																																																															C6,14.8,5.8,15,5.5,15h-2C3.2,15,3,14.8,3,14.5v-3C3,11.2,3.2,11,3.5,11z"/>
												</svg>
											</span>
											<span class="filters-button__title">Filters</span>
											<span class="filters-button__counter">3</span>
										</button>
										<div class="view-options__layout layout-switcher">
											<div class="layout-switcher__list">
												<button type="button" class="layout-switcher__button layout-switcher__button--active" data-layout="grid" data-with-features="false">
													<svg width="16" height="16">
														<path d="M15.2,16H9.8C9.4,16,9,15.6,9,15.2V9.8C9,9.4,9.4,9,9.8,9h5.4C15.6,9,16,9.4,16,9.8v5.4C16,15.6,15.6,16,15.2,16z M15.2,7
																																																																																					H9.8C9.4,7,9,6.6,9,6.2V0.8C9,0.4,9.4,0,9.8,0h5.4C15.6,0,16,0.4,16,0.8v5.4C16,6.6,15.6,7,15.2,7z M6.2,16H0.8
																																																																																					C0.4,16,0,15.6,0,15.2V9.8C0,9.4,0.4,9,0.8,9h5.4C6.6,9,7,9.4,7,9.8v5.4C7,15.6,6.6,16,6.2,16z M6.2,7H0.8C0.4,7,0,6.6,0,6.2V0.8
																																																																																					C0,0.4,0.4,0,0.8,0h5.4C6.6,0,7,0.4,7,0.8v5.4C7,6.6,6.6,7,6.2,7z"/>
													</svg>
												</button>
												<button type="button" class="layout-switcher__button" data-layout="grid" data-with-features="true">
													<svg width="16" height="16">
														<path d="M16,0.8v14.4c0,0.4-0.4,0.8-0.8,0.8H9.8C9.4,16,9,15.6,9,15.2V0.8C9,0.4,9.4,0,9.8,0l5.4,0C15.6,0,16,0.4,16,0.8z M7,0.8
																																																																																					v14.4C7,15.6,6.6,16,6.2,16H0.8C0.4,16,0,15.6,0,15.2L0,0.8C0,0.4,0.4,0,0.8,0l5.4,0C6.6,0,7,0.4,7,0.8z"/>
													</svg>
												</button>
												<button type="button" class="layout-switcher__button" data-layout="list" data-with-features="false">
													<svg width="16" height="16">
														<path d="M15.2,16H0.8C0.4,16,0,15.6,0,15.2V9.8C0,9.4,0.4,9,0.8,9h14.4C15.6,9,16,9.4,16,9.8v5.4C16,15.6,15.6,16,15.2,16z M15.2,7
																																																																																					H0.8C0.4,7,0,6.6,0,6.2V0.8C0,0.4,0.4,0,0.8,0h14.4C15.6,0,16,0.4,16,0.8v5.4C16,6.6,15.6,7,15.2,7z"/>
													</svg>
												</button>
												<button type="button" class="layout-switcher__button" data-layout="table" data-with-features="false">
													<svg width="16" height="16">
														<path d="M15.2,16H0.8C0.4,16,0,15.6,0,15.2v-2.4C0,12.4,0.4,12,0.8,12h14.4c0.4,0,0.8,0.4,0.8,0.8v2.4C16,15.6,15.6,16,15.2,16z
																																																																																					 M15.2,10H0.8C0.4,10,0,9.6,0,9.2V6.8C0,6.4,0.4,6,0.8,6h14.4C15.6,6,16,6.4,16,6.8v2.4C16,9.6,15.6,10,15.2,10z M15.2,4H0.8
																																																																																					C0.4,4,0,3.6,0,3.2V0.8C0,0.4,0.4,0,0.8,0h14.4C15.6,0,16,0.4,16,0.8v2.4C16,3.6,15.6,4,15.2,4z"/>
													</svg>
												</button>
											</div>
										</div>
										<div class="view-options__legend"></div>
										<div class="view-options__spring">
											<label for="view-option-sort">Trier par</label>
											<select id="view-option-sort" name="selectedField">
												<option value="prix">Prix de location</option>
												<option value="marque">Marque</option>
												<option value="modele">Modèle</option>
											</select>
										</div>


										<script>
											$(document).ready(function () {
$('#view-option-sort').on('change', function () {
var selectedField = $(this).val();
$.ajax({
type: 'GET',
url: '{{ path('app_voiture') }}',
data: {
'selectedField': selectedField
},
success: function (response) {
console.log('ok');
$('#voitures-container').empty()
$('#voitures-container').html(response);

},
error: function (xhr, textStatus, errorThrown) {
console.log(xhr.responseText);
}
});
});
});
										</script>


									</div>

								</div>

							</div>
							{{ include('voiture/toutes_voitures.html.twig')}}
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="block-space block-space--layout--before-footer"></div>
	</div>
</div></div>{% endblock %}
