{% extends 'baseF.html.twig' %}
{% block body %}
	<!-- site__body -->
	<div class="site__body">
	<!-- Inclure les fichiers CSS et JavaScript de Toastr -->
<!-- Inclure les fichiers CSS et JavaScript de Toastr -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Afficher les messages Flash avec Toastr -->
{% for type, messages in app.session.flashBag.all() %}
   {% for message in messages %}
      <script>
         toastr.{{ type }}('{{ message }}');
      </script>
   {% endfor %}
{% endfor %}
<style>.flash-messages {
  position: fixed;
  bottom: 0;
  left: 40;
  right: 250;
  z-index: 9999;
}
</style>
		<div class="block-space block-space--layout--after-header"></div>
		<div class="block">
			<div class="container container--max--xl">
				<div class="row">
					<div class="col-12 col-lg-3 d-flex">
						<div class="account-nav flex-grow-1">
							<h4 class="account-nav__title">Navigation</h4>
							<ul class="account-nav__list">
								
								<li class="account-nav__item">
									<a href="{{ path('app_Affichage_Reservations_Voitures_Locataire') }}">Mes réservations de voitures</a>
								</li>
								<li class="account-nav__item account-nav__item--active">
									<a href="{{ path('app_Affichage_Reservations_Voitures_prop') }}">Demandes de réservations
									</a>
								</li>
								<li class="account-nav__item ">
									<a href="{{ path('voitures_prop') }}">Mes voitures</a>
								</li>

								<li class="account-nav__item">
									<a href="account-addresses.html">Mon profil</a>
								</li>

								<li class="account-nav__divider" role="presentation"></li>
								<li class="account-nav__item">
									<a href="account-login.html">Se déconnecter</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-lg-9 mt-4 mt-lg-0">
						<div class="card">
							<div class="card-header">
								<h5>Liste des demandes de réservations</h5>
							</div>
							<div class="card-divider"></div>
							<div class="card-table">
								<div class="">
									<table id="table-reservations">
										<thead>
											<tr>
												<th>Date de demande</th>
												<th>Date de début</th>
												<th>Date de fin</th>
												<th>Etat</th>
												<th>Description</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
											{% for reservation in reservation_voitures %}
												<tr>
													<td>
														{{reservation.getDateDemandeReservation()|date('d/m/Y')}}
													</td>
													<td>
														{{reservation.getDateDebutReservation()|date('d/m/Y')}}
													</td>
													<td>{{reservation.getDateFinReservation()|date('d/m/Y')}}</td>
													<td>
        {% if reservation.etatDemandeReservation == 'en cours' %}
        <span class="badge badge-warning">En attente</span>
        {% elseif reservation.etatDemandeReservation == 'acceptée' %}
        <span class="badge badge-success">Acceptée</span>
        {% else %}
        <span class="badge badge-danger">Refusée</span>
        {% endif %}
      </td>
													<td>{{reservation.getDescriptionReservation()}}</td>

													
													
	<td>
	{% if reservation.etatDemandeReservation == 'en cours' %}
	<form id="reservation-form" method="POST" action="{{ path('reservation_reponse', { 'id': reservation.getId() }) }}">
  <div class="d-flex justify-content-center">
    <button type="submit" name="reponse" value="accepter" class="btn btn-success btn-accepter" data-id="{{ reservation.getId() }}">
      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M5.896 9.146L3.354 6.604a.5.5 0 0 1 .708-.708l2.5 2.5a.5.5 0 0 0 .707 0l6-6a.5.5 0 1 1 .708.708l-6 6a1.5 1.5 0 0 1-2.121 0z" />
      </svg>
    </button>
    <button type="submit" name="reponse" value="refuser" class="btn btn-danger btn-refuser" data-id="{{ reservation.getId() }}">
      <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 1 .708 0L8 7.293l3.146-3.147a.5.5 0 0 1 .708.708L8.707 8l3.147 3.146a.5.5 0 0 1-.708.708L8 8.707l-3.146 3.147a.5.5 0 0 1-.708-.708L7.293 8 4.146 4.854a.5.5 0 0 1 0-.708z" />
      </svg>
    </button>
  </div> 
</form>
 {% else %}
<p id="r" >Réponse Maintenue</p>
  {% endif %}      
      </td>
													
	
     
<script>
  // Récupérer les éléments HTML pour les boutons et la réponse
 
  
  
</script>
  
  
   
 
                                                
													
												</tr>

											{% endfor %}

										</tbody>
									</table>
								</div>
							</div>
							<button><a href="{{path('app_Acalendrier')}}">Mon Calendrier</a></button>
							<div class="card-divider"></div>
							
							<div class="card-footer">
								
									<div class="products-view__pagination">
		
			<ul class="pagination">
				{% if reservation_voitures.getTotalItemCount() > 1 %}
					<li class="page-item {% if reservation_voitures.getCurrentPageNumber() == 1 %}disabled{% endif %}">
						<a class="page-link page-link--with-arrow" href="{{ path('app_voiture', {'page': reservation_voitures.getCurrentPageNumber() - 1}) }}" aria-label="Previous">
							<span class="page-link__arrow page-link__arrow--left" aria-hidden="true">
								<svg width="7" height="11">
									<path d="M6.7,0.3L6.7,0.3c-0.4-0.4-0.9-0.4-1.3,0L0,5.5l5.4,5.2c0.4,0.4,0.9,0.3,1.3,0l0,0c0.4-0.4,0.4-1,0-1.3l-4-3.9l4-3.9C7.1,1.2,7.1,0.6,6.7,0.3z"/>
								</svg>
							</span>
						</a>
					</li>
					{% for page in pagesInRange %}
						<li class="page-item {% if reservation_voitures.getCurrentPageNumber() == page %}active{% endif %}">
							<a class="page-link" href="{{ path('app_Affichage_Reservations_Voitures_prop', {'page': page}) }}">{{ page }}</a>
						</li>
					{% endfor %}
					<li class="page-item {% if reservation_voitures.getCurrentPageNumber() == lastPageNumber %}disabled{% endif %}">
						<a class="page-link page-link--with-arrow" href="{{ path('app_Affichage_Reservations_Voitures_prop', {'page': reservation_voitures.getCurrentPageNumber() + 1}) }}" aria-label="Next">
							<span class="page-link__arrow page-link__arrow--right" aria-hidden="true">
								<svg width="7" height="11">
									<path d="M0.3,10.7L0.3,10.7c0.4,0.4,0.9,0.4,1.3,0L7,5.5L1.6,0.3C1.2-0.1,0.7,0,0.3,0.3l0,0c-0.4,0.4-0.4,1,0,1.3l4,3.9l-4,3.9
																									C-0.1,9.8-0.1,10.4,0.3,10.7z"/>
								</svg>
							</span>
						</a>
					</li>
				{% endif %}
			</ul>
		
		{#<div class="products-view__pagination-legend">Showing {{ voitures.getFirstItemNumber() }}~{{ voitures.getLastItemNumber() }} products</div>#}
	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="block-space block-space--layout--before-footer"></div>
	</div>
	<!-- site__body / end -->
{% endblock %}
